@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/src/bootstrap-logo-shadow.png" width="200" height="165" alt="Bootstrap" class="d-block mx-auto mb-3">
    <h1 class="mb-3 fw-semibold">Welcome to MIS Asset Borrowing Portal</h1>
    <p>Click borrow to create a borrow request</p>
</div>