@using Borrowing_App.Data
@model Borrowing_App.Models.Borrower
@inject UserManager<ApplicationUser> applicationUser
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Edit";
    string userId = default;
    ApplicationUser applicationUser = new ApplicationUser();
    if (User.IsInRole("Basic") == true)
    {
        userId = "Basic";
    }
    else if (User.IsInRole("SuperAdmin") == true)
    {
        userId = "SuperAdmin";
    }
}

<h1>Edit</h1>

<h4>Borrower</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="EmpiId" class="control-label"></label>
                <input asp-for="EmpiId" class="form-control" />
                <span asp-validation-for="EmpiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item" class="control-label"></label>
                <input asp-for="Item" class="form-control" />
                <span asp-validation-for="Item" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDate" class="control-label"></label>
                <input asp-for="BorrowDate" class="form-control" />
                <span asp-validation-for="BorrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            @if (userId == "SuperAdmin")
            {
                <div class="form-group">
                <label asp-for="Status" class="control-label"> Select Status</label>
                <br>
                @Html.DropDownListFor(m => m.Status, new SelectList(Enum.GetValues(typeof(Borrower.StatusSelect))), "Select status", htmlAttributes: new { @class = "form-          control" })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            }
            <div></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
